
*{
    margin: 0;
    padding: 0;
     
}
body
{
    background-color: rgb(140, 200, 200);
}
nav
{
    background-color: lightgreen ;
}
nav h1{
    padding:20px;
}
.search-bar
{
    display: flex;
    justify-content: center;
    gap:5px;
    height: 20vh;
    align-items: center;
    
}
#input
{
     padding: 10px 40px;
     border-radius:20px;
}

#search{
    padding: 10px 30px;
    border-radius:5px;
    color: dark;
    /* background-color: ; */
}
img
{
    width:150px;
    height: 150px;
}
.main-container
{
    margin-top:10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
   
    
}
.player ul
{
    list-style: none;
    line-height:30px;
}
.player{
    
    margin:10px;
   
    box-shadow: 4px 4px 8px rgb(125, 55, 55);
    width:260px;
    background-color: rgb(95, 91, 120);
    color: rgb(29, 28, 28);
    font-size: 18px;
    font-weight:600;
}
.players-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 70%;
    height: 100vh;
}
.card-container{
    position: relative;
    right:1px;
    box-shadow: 4px 4px 8px rgb(111, 115, 143);
    /* padding:10vh 20vh; */
    text-align: center;
    width:30%;
    background-color:grey;

}
button
{
    background-color:chocolate;
}
.card-container div{
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:5px;
    flex-wrap: wrap;
    gap:3px;

}
.card-container img{
    border-radius: 50%;
    width:50px;
    height: 50px;
}